body {
  margin: 0;
  overflow: hidden;
  background: #ffffff;
  font-family: monospace;
  color: #000;
}

#instructions {
  position: absolute;
  width: 100%;
  top: 40%;
  text-align: center;
  font-size: 1.2rem;
  color: #000;
  z-index: 10;
}
