/* BUTTONS */
.submit-btn {
  padding: 8px 20px; background: rgba(0,0,0,.85); border: 2px solid #00ff99; color: #00ff99;
  border-radius: 6px; text-transform: uppercase; letter-spacing: 1px; font-size: 14px;
  transition: all .25s ease-in-out; box-shadow: 0 0 8px rgba(0,255,0,.3);
}
.submit-btn:hover { background: #00ff99; color:#000; box-shadow:0 0 18px rgba(0,255,0,.6); transform:scale(1.05); font-weight:strong;}

.load-more {
  display:block; margin:20px auto; padding:8px 16px; border:1px solid #00ccff; border-radius:8px;
  background:transparent; color:#00ccff; font-weight:bold; cursor:pointer; text-transform:uppercase; transition: all .3s;
}
.load-more:hover { background:#00ccff; color:#000; box-shadow:0 0 20px rgba(0,204,255,.4); }
