/* ==========================================================
   FOOTER
   ========================================================== */
footer {
  margin-top: 2rem;
  padding: 1rem;
  background: #000;
  border-top: 2px solid #00ff99;
  text-align: center;
  color: #ccc;
  font-size: 0.9rem;
  line-height: 1.5;
}

footer a {
  color: #00ff99;
  text-decoration: none;
  transition: 0.2s ease;
}
footer a:hover {
  color: #00cc77;
}
footer p {
  margin-top: 6px;
}
